<md-dialog aria-label='license-mgmt-dialog' layout-padding>
    <md-dialog-content layout="column">
        <h3>
            <md-icon class="md-warn material-icons">warning</md-icon>
            You selected the 'Add License' option. Are you sure you want to proceed?
        </h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris varius dignissim aliquam. Phasellus nec urna vitae augue molestie porta at vitae dui. Aenean sed magna laoreet, aliquet quam ac, semper est. Nullam quis lobortis ante. Maecenas eleifend aliquet orci, at sagittis erat facilisis sed. Curabitur rhoncus urna eget tempor accumsan. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam at laoreet tortor. Integer pretium congue nisl nec placerat. Morbi ultrices quis orci vitae bibendum. Donec nisl velit, vestibulum laoreet nisl ut, feugiat varius enim. Sed pretium massa tortor, semper tristique libero mattis eget. Sed a erat neque.
        </p>

        <p>
            Vestibulum cursus lacinia eros non imperdiet. Sed tristique eget erat non tempor. Maecenas vitae interdum leo, id auctor mi. Nullam est neque, malesuada ac tortor vitae, maximus elementum tellus. Vestibulum a leo ac est varius tempus. Maecenas et aliquam justo, id placerat purus. Suspendisse potenti. Integer commodo nisl quis libero auctor semper. In blandit sed risus eu tempor.
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consequat ex in dui sagittis consequat. Phasellus semper tortor ut orci volutpat blandit. Curabitur id mollis odio. Donec sit amet orci enim. Nullam non augue purus. Duis fermentum, mi sit amet sodales aliquet, arcu magna rhoncus ipsum, a tincidunt dui metus eget nulla. Cras tempor sem vestibulum arcu imperdiet, ut fringilla quam convallis. Maecenas malesuada pellentesque turpis in fringilla. Mauris efficitur magna ut porta bibendum. Sed lacinia nisi eu sapien dignissim bibendum. Ut sollicitudin auctor libero eget aliquet. Sed sed metus in eros vehicula fermentum. Nullam vel condimentum arcu.
        </p>

        <p>
            Fusce pulvinar elementum ligula, sit amet sodales arcu congue sit amet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras vitae tellus a augue maximus porttitor. Morbi tristique sollicitudin luctus. Etiam vel metus sit amet magna consectetur laoreet sed eleifend odio. Integer scelerisque tellus nec mauris fermentum, ut gravida nunc elementum. Morbi malesuada auctor leo, vel tincidunt elit fermentum nec. Proin varius venenatis condimentum. Nam iaculis lacus nec ligula vehicula euismod.
        </p>

        <p>
            Curabitur finibus, sapien nec aliquet porttitor, justo tellus egestas tellus, ut congue velit urna nec lectus. Curabitur placerat efficitur magna, non consequat urna. Mauris eu velit et erat porttitor viverra. Fusce at scelerisque orci, a iaculis sapien. Sed vestibulum justo fringilla fringilla pharetra. Vestibulum ullamcorper, arcu vitae lobortis dapibus, ligula nibh convallis nisi, sed vestibulum nisi urna tempus augue. Pellentesque vitae tincidunt felis, ac pellentesque sem. Vivamus ante nisl, ullamcorper auctor diam a, hendrerit finibus nibh.
        </p>
        <md-checkbox ng-model="checked" class="md-primary">Acknowledge</md-checkbox>
    </md-dialog-content>
    <md-dialog-actions class="md-dialog-actions" layout="row">
        <md-button ng-disabled="!checked" ng-click="ctrl.closeDialog()">Add License</md-button>
        <md-button ng-click="ctrl.cancelDialog()">Cancel</md-button>
    </md-dialog-actions>
</md-dialog>
