<md-sidenav layout-fill  layout="column" flex="20" flex-sm="80" class="md-sidenav-left md-whiteframe-z2 md-primary" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar layout-padding>
        <img class="devhub-logo" src="images/devhubvert-white.png">
        <h6 layout-padding>Cert Table Prototype Ver 1.1</h6>
    </md-toolbar>
    <md-content layout-padding>
        <md-list class="md-primary md-default-theme" layout="column" role="navigation">
            <md-list-item>
                <md-button layout-fill><md-icon class="material-icons md-primary">cloud_done</md-icon> Nav Item 1st Is The Worst</md-button>
            </md-list-item>
            <md-list-item>
                <md-button layout-fill><md-icon class="material-icons md-primary">build</md-icon> Nav Item 2nd Is The Best</md-button>
            </md-list-item>
            <md-list-item>
                <md-button layout-fill><md-icon class="material-icons md-primary">feedback</md-icon> Nav Item 3</md-button>
            </md-list-item>
            <md-list-item>
                <md-button layout-fill><md-icon class="material-icons md-primary">star</md-icon> Nav Item The Fourth</md-button>
            </md-list-item>
            <md-list-item>
                <md-button layout-fill><md-icon class="material-icons md-primary">verified_user</md-icon> Nav Item Le Fifth</md-button>
            </md-list-item>
            <md-list-item>
                <md-button layout-fill><md-icon class="material-icons md-primary">settings</md-icon> Nav Item Number 6</md-button>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>
