<div layout-fill>
    <md-card class="table-card">
        <md-card-content>
            <md-card-header class="md-sticky">
                <div hide-xs layout="row" layout-fill>
                    <h3 flex="30">Merchant</h3>
                    <h3 flex="30">Application</h3>
                    <h3 flex="20">License</h3>
                    <h3 flex="20">Expiry</h3>    
                </div>    
            </md-card-header>
            <md-divider></md-divider>
            <md-list id="table-list">
                <md-list-item ng-repeat="app in table.fakeTableData">
                    <div layout-xs="column" layout-gt-xs="row" layout-margin layout-fill>
                        <p flex-xs="100" flex-gt-xs="30"><span hide-gt-xs><strong>Merchant: </strong></span>{{app.merchant}}</p>
                        <p flex-xs="100" flex-gt-xs="30"><span hide-gt-xs><strong>App: </strong></span>{{app.app}}</p>
                        <p flex-xs="100" flex-gt-xs="20"><span hide-gt-xs><strong>License: </strong></span>{{app.license}}</p>
                        <p flex-xs="100" flex-gt-xs="20"><span hide-gt-xs><strong>Expiry: </strong></span>{{app.expiry}}</p>            
                    </div>    
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>    
</div>