<md-dialog aria-label="Application Onboarding">

    <md-toolbar layout-padding class="md-whiteframe-z1">
        <h3 layout-margin>New App Name: {{license.fakeData.appName}} </h3>
    </md-toolbar>
    <md-content>
        <div layout="row" layout-wrap layout-margin>
            <md-input-container class="md-icon-float md-icon-right" flex="100">
                <md-icon class="material-icons">edit</md-icon>
                <input ng-model="license.fakeData.appName" type="text" placeholder="Application Name" />
            </md-input-container>

            <md-input-container class="md-icon-float" flex="60">
                <md-icon class="material-icons">edit</md-icon>
                <input ng-model="license.fakeData.appID" type="text" placeholder="Application ID" />
            </md-input-container>
            <md-input-container class="md-icon-float" flex="35">
                <input ng-model="license.fakeData.date" type="date" placeholder="Application Created" disabled />
            </md-input-container>
        </div>

        <md-button flex="grow" class="md-raised md-primary" ng-hide="license.showEnt" ng-click="license.showEnt = !license.showEnt"><md-icon class="material-icons">verified_user</md-icon> Validate Info</md-button>
        <div ng-show="license.showEnt" layout="column" layout-wrap layout-margin>
            <h3 class="md-primary">Select Available Entitlements</h3>

            <div layout="row" flex layout-wrap>
                <div flex-xs flex="50">
                    <md-checkbox md-no-ink aria-label="Checkbox VAS" ng-model="license.fakeData.cbVAS" class="md-primary md-align-top-left">
                        Value Added Services (VAS): <span class="md-caption"><br /> {{license.fakeData.entSum1}} </span>                    
                    </md-checkbox>
                </div>
                <div flex-xs flex="50">
                    <md-checkbox md-no-ink aria-label="Checkbox VAS" ng-model="license.fakeData.cbPWS" class="md-primary md-align-top-left">
                        Payment Web Services (PWS): <span class="md-caption"><br /> {{ctrl.fakeData.entSum2 }} </span>
                    </md-checkbox>
                </div>
                <div flex-xs flex="50">
                    <md-checkbox md-no-ink aria-label="Checkbox VAS" ng-model="license.fakeData.cbVAS" class="md-primary md-align-top-left">
                        Value Added Services (VAS): <span class="md-caption"><br /> {{license.fakeData.entSum1}} </span>
                    </md-checkbox>
                </div>
                <div flex-xs flex="50">
                    <md-checkbox md-no-ink aria-label="Checkbox VAS" ng-model="license.fakeData.cbPWS" class="md-primary md-align-top-left">
                        Payment Web Services (PWS): <span class="md-caption"><br /> {{ctrl.fakeData.entSum2 }} </span>
                    </md-checkbox>
                </div>
                <div flex-xs flex="50">
                    <md-checkbox md-no-ink aria-label="Checkbox VAS" ng-model="license.fakeData.cbVAS" class="md-primary md-align-top-left">
                        Value Added Services (VAS): <span class="md-caption"><br /> {{license.fakeData.entSum1}} </span>
                    </md-checkbox>
                </div>
                <div flex-xs flex="50">
                    <md-checkbox md-no-ink aria-label="Checkbox VAS" ng-model="license.fakeData.cbPWS" class="md-primary md-align-top-left">
                        Payment Web Services (PWS): <span class="md-caption"><br /> {{ctrl.fakeData.entSum2 }} </span>
                    </md-checkbox>
                </div>
            </div>

            <md-button flex="grow" class="md-raised md-primary" ng-click="ctrl.appDialog()"><md-icon class="material-icons">add</md-icon> Add Apllication</md-button>
        </div>
</md-content>
    <md-dialog-actions class="md-dialog-actions" layout="row">
        <md-button ng-click="ctrl.cancelDialog()">Cancel</md-button>
    </md-dialog-actions>
</md-dialog>