<md-toolbar class="md-whiteframe-z1 md-accent">
    <div class="md-toolbar-tools">
        <md-button ng-click="license.toggleLeftSidenav()" class="md-icon-button md-primary" hide-gt-md aria-label="Navigation">
            <md-tooltip>
                Site Navigation
            </md-tooltip>
            <md-icon>menu</md-icon>
        </md-button><h1>License Management <md-icon><i class="material-icons">keyboard_arrow_right</i></md-icon> {{license.fakeData.merName}}</h1>
    </div>
</md-toolbar>
