<md-sidenav layout="column" flex="20" flex-sm="80" class="md-sidenav-left md-whiteframe-z2 md-primary" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar layout-padding>
        <img class="devhub-logo" src="images/devhubvert-white.png">
        <h6>License Management Prototype Ver 1.0</h6>
    </md-toolbar>
    <md-content>
        <md-list class="md-primary md-default-theme" layout="column" layout-align="start" role="navigation">
            <md-list-item>
                <md-button layout-fill ng-click="license.onboardApp($event)"><md-icon class="material-icons md-primary">announcement</md-icon> Simulate Onboarding</md-button>
            </md-list-item>
            <md-list-item>
                <md-button layout-fill><md-icon class="material-icons md-primary">library_books</md-icon> Read UX Scenario</md-button>
            </md-list-item>
            <md-list-item>
                <md-button layout-fill><md-icon class="material-icons md-primary"><i class="material-icons">file_download</i></md-icon> Download Prototype</md-button>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>
